* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.sidenav.closebtn {
    color: white;
    position: absolute;
    top: -18px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenava {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: rgb(255255255);
    display: block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    background-color: transparent;
    font-size: 20px;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-ihnwn {
    flex-basis: 15%;
    padding: 015px015px;
    border: 1pxsolid#eceff4;
    height: 75vh;
    background-color: #fcfcfd;
    max-width: 15%;
}

#template-imedn {
    padding: 0000;
}

#template-id4cw {
    padding: 10px;
    margin: 10px010px0;
    font-size: 18px;
    font-weight: 700;
}

#template-i75o4 {
    flex-wrap: wrap;
    padding: 0000;
}

#template-iezlw {
    color: black;
    width: 30px;
    align-self: center;
}

#template-ihkmi {
    color: #000000;
    align-self: center;
    margin: 00010px;
}

#template-iayfi {
    flex-wrap: nowrap;
    display: flex;
    align-self: center;
    min-height: 50px;
}

#template-iwl5m {
    color: black;
    width: 30px;
    align-self: center;
}

#template-itb3h {
    color: #000000;
    align-self: center;
    margin: 00010px;
}

#template-iyhls {
    flex-wrap: nowrap;
    display: flex;
    align-self: center;
    min-height: 50px;
}

#template-ixy8i {
    color: black;
    width: 30px;
    align-self: center;
}

#template-iywxn {
    color: #000000;
    align-self: center;
    margin: 00010px;
}

#template-iwk03 {
    flex-wrap: nowrap;
    display: flex;
    align-self: center;
    min-height: 50px;
}

#template-i9k9h {
    border: 0solid#bea2a2;
    transform: translateX(0px)translateY(0px);
    color: black;
}

#template-if09g {
    align-self: center;
    flex-basis: 50%;
}

#template-ij43m {
    text-align: right;
    align-self: center;
}

#template-itl8h {
    padding: 10px;
    align-self: center;
    display: flex;
    font-size: 19px;
    font-family: BrushScriptMTsans-serif;
    font-weight: 700;
}

#template-i3gvo {
    align-self: center;
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-radius: 0000;
    border: 1pxsolid#eceff4;
}

#template-ivczj {
    width: 300px;
}

#template-i93yw {
    transform: translateX(-49px)translateY(0.2999992370605469px);
    background-color: #eceff4;
    border: 0solid#eceff4;
    color: #000000;
}

#template-in2gc {
    width: 37px;
    height: 37px;
    margin: 020px00;
    border: 0solid#eceff4;
    background-color: #eceff4;
    color: #000000;
}

#template-int79 {
    padding: 10px;
    transform: translateX(0px)translateY(6.5px);
}

#template-ijvvh {
    height: 37px;
    padding: 00010px;
    margin: 10px10px10px10px;
    transform: translateX(-10px)translateY(4px);
}

#template-ikj4d {
    display: block;
    padding: 027px00;
}

#template-ih76y {
    padding: 10px;
    transform: translateX(0px)translateY(6.5px);
}

#template-i7362 {
    height: 37px;
    padding: 00010px;
    margin: 10px10px10px10px;
    transform: translateX(-10px)translateY(4px);
}

#template-ifc3j {
    display: block;
    padding: 027px00;
}

#template-i5guwp {
    padding: 10px;
    transform: translateX(0px)translateY(6.5px);
}

#template-ijph1k {
    height: 37px;
    padding: 00010px;
    margin: 10px10px10px10px;
    transform: translateX(-10px)translateY(4px);
}

#template-iv2n2j {
    display: block;
    padding: 027px00;
}

#template-iym4mf {
    padding: 10px;
    transform: translateX(0px)translateY(6.5px);
}

#template-i24v8z {
    height: 37px;
    padding: 00010px;
    margin: 10px10px10px10px;
    transform: translateX(-10px)translateY(4px);
}

#template-imzadw {
    display: block;
    padding: 027px00;
}

#template-iph26j {
    padding: 10px;
    transform: translateX(0px)translateY(6.5px);
}

#template-ikr8ds {
    height: 37px;
    padding: 00010px;
    margin: 10px10px10px10px;
    transform: translateX(-10px)translateY(4px);
}

#template-ijbwlj {
    display: block;
    padding: 027px00;
}

#template-ilex16 {
    display: flex;
    padding: 0000;
    flex-basis: 100%;
    min-height: 0;
    height: 44px;
    transform: translateX(0.0000152587890625px)translateY(54px);
    color: #000000;
    background-color: #eceff4;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px6px6px6px;
}

#template-id7zgd {
    width: 20px;
    transform: translateX(7.999805450439453px)translateY(7.5px);
    height: 30px;
}

#template-ip3e7k {
    padding: 10px;
    transform: translateX(8.000097274780273px)translateY(-1px);
}

#template-iqy2gh {
    width: 20px;
    transform: translateX(-1.9999809265136719px)translateY(7px);
    height: 30px;
}

#template-iaxcpq {
    padding: 10px;
    transform: translateX(8.000028610229492px)translateY(-3px);
}

#template-iies3b {
    display: flex;
    padding: 0000;
    min-height: 0;
    height: 44px;
    transform: translateX(-0.00006103515625px)translateY(-10px);
    color: #000000;
    background-color: #eceff4;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px6px6px6px;
    max-width: 221px;
}

#template-ik0x9e {
    border: 0solidblack;
}

#template-i4b8d {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-ikc8x {
    min-height: 45px;
    height: 45px;
}

#template-iva7j {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-i2m44r {
    padding: 10px;
}

#template-ijia14 {
    padding: 10px;
}

#template-i0jnt5 {
    height: 50px;
    min-height: 50px;
}

#template-i6ge29 {
    padding: 10px;
}

#template-ipic6u {
    height: 50px;
    min-height: 50px;
}

#template-ilde2e {
    padding: 10px;
}

#template-i82aa9 {
    min-height: 50px;
    height: 50px;
}

#template-it6ykc {
    color: rgb(304159);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}

#template-idnwqd {
    color: rgb(304159);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}

#template-i3f7q3 {
    padding: 10px;
}

#template-ipmr7o {
    min-height: 45px;
    height: 45px;
}

#template-is3o5l {
    padding: 10px;
}

#template-ie4t7p {
    min-height: 50px;
    height: 50px;
}

#template-ik0bj6 {
    padding: 10px;
}

#template-igeato {
    height: 50px;
    min-height: 50px;
}

#template-ifiihm {
    padding: 10px;
}

#template-i1nlo8 {
    height: 50px;
    min-height: 50px;
}

#template-ia5dm9 {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-ic2mha {
    padding: 10px;
    margin: 00025px;
}

#template-iwgazj {
    min-height: 45px;
    height: 45px;
}

#template-ifagum {
    padding: 10px;
}

#template-ilvfqk {
    min-height: 50px;
    height: 50px;
}

#template-ibs6aw {
    padding: 10px;
}

#template-i24cqd {
    height: 50px;
    min-height: 50px;
}

#template-ivmnce {
    padding: 10px;
}

#template-i8y49p {
    height: 50px;
    min-height: 50px;
}

#template-i228n5 {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-imogps {
    padding: 10px;
    margin: 00025px;
}

#template-id6x1b {
    min-height: 45px;
    height: 45px;
}

#template-i2gyeh {
    padding: 10px;
}

#template-iivrep {
    min-height: 50px;
    height: 50px;
}

#template-i1qhak {
    padding: 10px;
}

#template-iftvgs {
    height: 50px;
    min-height: 50px;
}

#template-i8zxh8 {
    padding: 10px;
}

#template-ix981l {
    height: 50px;
    min-height: 50px;
}

#template-i0omeb {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-i9vqrj {
    padding: 10px;
    margin: 00025px;
}

#template-iwvprv {
    min-height: 45px;
    height: 45px;
}

#template-ijlh87 {
    padding: 10px;
}

#template-i797ae {
    min-height: 50px;
    height: 50px;
}

#template-ijj0gf {
    padding: 10px;
}

#template-ik9vjp {
    height: 50px;
    min-height: 50px;
}

#template-ihaq21 {
    padding: 10px;
}

#template-iqye2l {
    height: 50px;
    min-height: 50px;
}

#template-irl0ml {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-ilczkt {
    padding: 10px;
}

#template-ihhrkq {
    min-height: 45px;
    height: 45px;
}

#template-ief4lc {
    padding: 10px;
}

#template-iyxoqf {
    min-height: 50px;
    height: 50px;
}

#template-ijehwn {
    padding: 10px;
}

#template-ifj856 {
    height: 50px;
    min-height: 50px;
}

#template-i4szdh {
    padding: 10px;
}

#template-i85mha {
    height: 50px;
    min-height: 50px;
}

#template-il7ttn {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
}

#template-ikvwm4 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iyno0e {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-id9k47 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i18u8k {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i4ovuy {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i0l3ju {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ip1bbk {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i0l8gi {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ixy7ho {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iw3dao {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-id1zty {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i6xsax {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iz5q8s {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-isq4ca {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i3kwy2 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-inen0d {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ip56xl {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-ieax51 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-i5nurg {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
}

#template-iq6951 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ixjjjj {
    padding: 10px;
}

#template-il2dbd {
    min-height: 45px;
    height: 45px;
}

#template-iyqxzl {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i91y3u {
    padding: 10px;
}

#template-iwvovv {
    min-height: 50px;
    height: 50px;
}

#template-iq0qal {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ilfmqj {
    padding: 10px;
}

#template-iyz86z {
    height: 50px;
    min-height: 50px;
}

#template-imkbxr {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iw79yi {
    padding: 10px;
}

#template-i7bpkt {
    height: 50px;
    min-height: 50px;
}

#template-iapuq5 {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 55px000;
}

#template-iwnbxh {
    padding: 10px;
}

#template-ifeo36 {
    min-height: 45px;
    height: 45px;
}

#template-i2o33s {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i1sswp {
    padding: 10px;
}

#template-ihr4my {
    min-height: 50px;
    height: 50px;
}

#template-iqplel {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ijz7tg {
    padding: 10px;
}

#template-ilj9qj {
    height: 50px;
    min-height: 50px;
}

#template-ihcv1d {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ietajx {
    padding: 10px;
}

#template-ilr2hh {
    height: 50px;
    min-height: 50px;
}

#template-iep08h {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-ixt7qe {
    padding: 10px;
}

#template-i1qdrh {
    min-height: 45px;
    height: 45px;
}

#template-i8cak7 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iabn4z {
    padding: 10px;
}

#template-il5xvb {
    min-height: 50px;
    height: 50px;
}

#template-ifvlx3 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iwiwp2 {
    padding: 10px;
}

#template-i95nvg {
    height: 50px;
    min-height: 50px;
}

#template-ibm0df {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ilkpn6 {
    padding: 10px;
}

#template-izpwej {
    height: 50px;
    min-height: 50px;
}

#template-i2anab {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-itq9ef {
    padding: 10px;
    margin: 00050px;
}

#template-ie3wky {
    min-height: 45px;
    height: 45px;
}

#template-iod9wt {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-it1d7i {
    padding: 10px;
}

#template-ifx8s8 {
    min-height: 50px;
    height: 50px;
}

#template-is1rml {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i74gn9 {
    padding: 10px;
}

#template-ij6p53 {
    height: 50px;
    min-height: 50px;
}

#template-it819e {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ikkxph {
    padding: 10px;
}

#template-iidjxw {
    height: 50px;
    min-height: 50px;
}

#template-i5hsri {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-i6hfkv {
    padding: 10px;
    margin: 00025px;
}

#template-ihacyq {
    min-height: 45px;
    height: 45px;
}

#template-ihlwy7 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iqdexv {
    padding: 10px;
}

#template-ikw34q {
    min-height: 50px;
    height: 50px;
}

#template-idorkg {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i9x6e8 {
    padding: 10px;
}

#template-iz8rn2 {
    height: 50px;
    min-height: 50px;
}

#template-i5mc1n {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-id71ej {
    padding: 10px;
}

#template-iwfl6k {
    height: 50px;
    min-height: 50px;
}

#template-iu74eg {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-i9ymyz {
    padding: 10px;
}

#template-ib3wm5 {
    min-height: 45px;
    height: 45px;
}

#template-ip9fih {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-icn6gi {
    padding: 10px;
}

#template-ilducj {
    min-height: 50px;
    height: 50px;
}

#template-ifv8zq {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ihmzci {
    padding: 10px;
}

#template-it7oe9 {
    height: 50px;
    min-height: 50px;
}

#template-itodyb {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ieavaa {
    padding: 10px;
}

#template-icnpav {
    height: 50px;
    min-height: 50px;
}

#template-i702vs {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-ie3o5p {
    padding: 10px;
    margin: 00025px;
}

#template-i13mw3 {
    min-height: 45px;
    height: 45px;
}

#template-iy90em {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i7pqrg {
    padding: 10px;
}

#template-iu4lqi {
    min-height: 50px;
    height: 50px;
}

#template-ih1i4t {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ixhpf6 {
    padding: 10px;
}

#template-idt571 {
    height: 50px;
    min-height: 50px;
}

#template-iatisq {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i9otkr {
    padding: 10px;
}

#template-i08h3g {
    height: 50px;
    min-height: 50px;
}

#template-ih0sg2 {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-ix3foc {
    padding: 10px;
    margin: 00025px;
}

#template-ie6zby {
    min-height: 45px;
    height: 45px;
}

#template-itwp8a {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i3bhez {
    padding: 10px;
}

#template-icajnk {
    min-height: 50px;
    height: 50px;
}

#template-i1s2ld {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ikooff {
    padding: 10px;
}

#template-i9npvi {
    height: 50px;
    min-height: 50px;
}

#template-iys9pc {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i4uo9h {
    padding: 10px;
}

#template-ilwcsz {
    height: 50px;
    min-height: 50px;
}

#template-i7th1i {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-imsbji {
    padding: 10px;
    margin: 00025px;
}

#template-if3uso {
    min-height: 45px;
    height: 45px;
}

#template-i18xha {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-iwkdl1 {
    padding: 10px;
}

#template-i8j6tb {
    min-height: 50px;
    height: 50px;
}

#template-i3nar4 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-im5f3a {
    padding: 10px;
}

#template-inxycj {
    height: 50px;
    min-height: 50px;
}

#template-i3ef9c {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ipiyaw {
    padding: 10px;
}

#template-im74ap {
    height: 50px;
    min-height: 50px;
}

#template-iximtd {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-izr3cx {
    padding: 10px;
    margin: 00025px;
}

#template-ie243o {
    min-height: 45px;
    height: 45px;
}

#template-i8fhrs {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-icjtmu {
    padding: 10px;
}

#template-iwcoix {
    min-height: 50px;
    height: 50px;
}

#template-i8d6gv {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-idh8ph {
    padding: 10px;
}

#template-i5tnpk {
    height: 50px;
    min-height: 50px;
}

#template-i4iwhj {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-ivw8rh {
    padding: 10px;
}

#template-iqj3ek {
    height: 50px;
    min-height: 50px;
}

#template-i4hekc {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1pxsolid#eceff4;
    margin: 0000;
}

#template-ituups {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
}

#template-iunoml {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-ilrodf {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-i1ryg2 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-iyexwz {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-ivpvs9 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-id64an {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-i89ko8 {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
    background-color: rgb(248249252);
}

#template-imzgue {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    white-space: nowrap;
}

#template-iagves {
    color: rgb(516585);
    font-family: Intersans-serif;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
}

#template-iijwt5 {
    color: rgb(304159);
    font-family: Intersans-serif;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

@mediascreenand(max-height:450px) {
    .sidenava {
        font-size: 18px;
    }
}